version: '3'
services:
  lab03-clientes:
    image: "mzegarra/lab03-clientes"
    build:
      context: .
      dockerfile: ./src/main/docker/Dockerfile
    ports:
      - 8085:8085
  db:
    image: mysql:5.7
    restart: always
    ports:
      - 3308:3306
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: customersdb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
  rabbit:
    image: rabbitmq:3-management-alpine
    restart: always
    ports:
      - 8086:15672
      - 5672:5672